.contacts-body-div{
    width: 92%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.contacts-title{
    width: 100%;
    font-size: 4rem;
    color: #34C885;
    text-align: center;
    margin: 2rem;
    order: 1;
}
.contacts-list-div{
    width: 70%;
    height: 77%;
    border: 0.4rem solid #34C885;
    padding: 1rem;


    overflow-y: scroll;
    scrollbar-width: 1rem;
    scrollbar-color: #34C885 #fff;
    order: 2;
}
.contacts-list-div::-webkit-scrollbar{
    width: 1rem;
}
.contacts-list-div::-webkit-scrollbar-track{
    background: #fff;
}
.contacts-list-div::-webkit-scrollbar-thumb{
    background: #34C885;
    border-radius: 1rem;
}

.contact-list-item{
    
    margin-bottom: 1rem;
    border-bottom: 0.2rem solid #34C885;

    display: grid;
    grid-template-columns: 1fr 8fr;
    align-items: center;

    opacity: 0.6;
}
.contact-list-item-name{
    font-size: 3rem;
    color: #34C885 ;

}
.contacts-side-div{
    width: 25%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    position: relative;
    order: 3;
}

.contacts-add-button{
    width: 70%;
    height: 10%;

    background-color: #34C885;
    color: #FFF;
    border: none;
    border-radius: 1rem;
    font-size: 2rem;
    position: absolute;
    bottom: 0;
    margin-bottom: 2rem;
}
.contacts-add-button:hover{
    font-weight: 600;
}
.contacts-add-button:active{
    font-weight: 400;
}

.total-contacts-text,
.total-companies-text,
.total-people-text{
    font-size: 2.4rem;
    height: 10%;
    width: 100%;
    color: #34C885;
}

@media screen and (max-width: 1400px) {
    .contacts-title{
        font-size: 3rem;
    }

    .contacts-list-div{
        grid-template-rows: 6.5rem;
    }
    .contact-list-item{
        height: 6.5rem;
    }
    .contact-list-item-name{
        font-size: 2.5rem;
    }
    .contact-list-item-pic{
        height: 90%;
    }

    .contacts-add-button{
        font-size: 1.8rem;
    }
    .total-contacts-text,
    .total-companies-text,
    .total-people-text{
        font-size: 2rem;
    }
}
@media screen and (max-width: 1200px) {
    .contacts-title{
        font-size: 3rem;
    }

    .contacts-list-div{
        grid-template-rows: 5.5rem;
        padding: 0.4rem;
        align-content: flex-start;
    }
    .contact-list-item{
        height: 5.5rem;
        margin-bottom: 0;
    }
    .contact-list-item-name{
        font-size: 2.2rem;
    }
    .contact-list-item-pic{
        height: 70%;
    }

    .contacts-add-button{
        font-size: 1.5rem;
    }
    .total-contacts-text,
    .total-companies-text,
    .total-people-text{
        font-size: 1.6rem;
    }
}

@media screen and (max-width: 1000px) {
    .contacts-list-div{
        grid-template-rows: 5rem;
        padding: 0.4rem;
        align-content: flex-start;
    }
    .contact-list-item{
        height: 5rem;
        margin-bottom: 0;
    }
    .contact-list-item-name{
        font-size: 2rem;
    }
    .contact-list-item-pic{
        height: 50%;
    }

    .contacts-add-button{
        font-size: 1.3rem;
        height: 7%;
        width: 80%;
    }
    .total-contacts-text,
    .total-companies-text,
    .total-people-text{
        font-size: 1.3rem;
    }
}
@media screen and (max-width: 750px) {
    .contacts-body-div{
        width: 100%;
        align-content: flex-start;
    }
    .contacts-title{
        margin: 1rem;
        margin-bottom: 3rem;
        height: 3%;
    }
    .contact-list-item{
        height: 5rem;
        margin-bottom: 0;
    }

    .contacts-list-div{
        order: 3;
        height: 65%;
        width: 85%;
        margin-top: 0.3rem;
    }
    .contacts-side-div{
        order: 2;
        width: 100%;
        height: 13%;
        justify-content: space-around;
        align-content: space-between;
    }

    .contacts-add-button{
        font-size: 1.3rem;
        height: 35%;
        width: 30%;
        position: static;
        margin-bottom: 0.2rem;
    }
    .total-contacts-text,
    .total-companies-text,
    .total-people-text{
        font-size: 1rem;
        width: 25%;
    }
}

@media screen and (max-width: 500px ) {
    .total-contacts-text,
    .total-companies-text,
    .total-people-text{
        display: none;
    }
    .contacts-side-div{
        height: 7%;
        align-content: center;
    }
    .contacts-add-button{
        font-size: 1.3rem;
        height: 100%;
        width: 50%;
        position: static;
        margin-bottom: 0.2rem;
    }
    .contacts-list-div{
        height: 70%;
        width: 94%;

    }
    .contact-list-item{
        height: 3rem;
        grid-auto-rows: 3rem;
    }
    .contact-list-item-name{
        font-size: 1.3rem;
    }
    .contact-list-item-pic{
        height: 70%;
    }
}