.login-header{
    background-color: #34C885;
    width: 100%;
    height: fit-content;

    display: flex;
    align-items: center;
}
.login-header-title{
    color: #fff;
    width: 100%;
    text-align: right;
    margin-right: 2rem;
    font-size: 3rem;
}

@media screen and (max-width: 900px) {
    .login-header-title{
        font-size: 2rem;
        margin-right: 1rem;
    }
    .login-logo{
        width: 15%;
    }
}
@media screen and (max-width: 500px) {
    .login-header-title{
        font-size: 1.6rem;
        margin-right: 1rem;
    }
}
