.recent-transactions-div{
    width: 75%;
    height: 70%;
    border: 0.4rem solid #34C885;
    margin-left: 3rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 6rem;
    align-items: center;
    padding: 1rem;

    overflow-y: scroll;
    scrollbar-width: 1rem;
    scrollbar-color: #34C885 #fff;
}
.recent-transactions-div::-webkit-scrollbar{
    width: 1rem;
}
.recent-transactions-div::-webkit-scrollbar-track{
    background: #fff;
}
.recent-transactions-div::-webkit-scrollbar-thumb{
    background: #34C885;
    border-radius: 1rem;
}

.recent-trans-div{
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr;

    border-bottom: 0.2rem solid #34C885;
}
.recent-trans-div-item{
    font-size: 2.5rem;
    color: #34C885;
}
.recent-amount{
    margin-left: 1rem;
    margin-right: 1rem;
}
.recent-date{
    text-align: end;
    margin-right: 1rem;
}

@media screen and (max-width: 1300px) {
    .recent-trans-div-item{
        font-size: 2rem;
    }
    .recent-transactions-div{
        grid-auto-rows: 4rem;
        padding: 0.7rem;
    }
}
@media screen and (max-width: 1000px) {
    .recent-trans-div-item{
        font-size: 1.7rem;
    }
    .recent-transactions-div{
        margin-left: 0.3rem;
        width: 90%;
        height: 50%;
    }
}
@media screen and (max-width: 700px) {
    .recent-trans-div-item{
        font-size: 1.2rem;
    }
    .recent-transactions-div{
        grid-auto-rows: 2rem;
        height: 40%;
    }
}