.confirm-password-input{
    grid-column: 1/9;
    grid-row: 5/6;
    width: 90%;
    height: 75%;
    font-size: 2rem;
    margin: 1rem;
    margin-top: 0;
    border: 0.2rem solid #34C885;
    border-radius: 1rem;
    padding: 0.3rem;
}
.confirm-password-input:focus{
    outline: none;
}
.username-error-msg{
    grid-column: 1/9;
    grid-row: 3/4;

    color: red;
    font-size: 1.2rem;
}
.password-error-msg{
    grid-column: 1/9;
    grid-row: 6/7;
    color: red;
    font-size: 1.2rem;
}
.confirmPassword-error-msg{
    grid-column: 1/9;
    grid-row: 6/7;
    color: red;
    font-size: 1.2rem;
}
.create-account-button{
    width: 80%;
    grid-row: 7/8;
    grid-column: 1/10;
    border: none;
    background-color: #34C885;
    border-radius: 1rem;
    color: #fff;
    font-size: 2rem;
    margin-bottom: 1rem;
}
.create-account-button:hover{
    font-weight: 600;
}
.create-account-button:active{
    font-weight: 400;
}
@media screen and (max-width: 1100px) {
    .confirm-password-input{
        height: 60%;
        font-size: 1.2rem;
        margin: 1rem;
        margin-top: 0;
    }
}
@media screen and (max-width: 700px){
    .create-account-button{
        font-size: 1.7rem;
    }
    .username-error-msg,
    .password-error-msg,
    .confirmPassword-error-msg{
        font-size: 1rem;
    }
}
@media screen and (max-width: 500px){
    .create-account-button{
        font-size: 1.4rem;
    }
    .confirm-password-input{
        font-size: 1rem;
    }
}
@media screen and (max-width: 400px) {
    .username-error-msg,
    .password-error-msg,
    .confirmPassword-error-msg{
        font-size: 0.8rem;
    }
}