.contacts-info-body{
    width: 92%;

    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    
}

.contacts-info-trans-title{
    width: 60%;
    height: fit-content;
    margin-top: 3rem;
    margin-bottom: 1rem;
    margin-left: 3rem;
    font-size: 3rem;
    color: #34C885;
}
.contacts-info-trans-div{
    border: 0.4rem solid #34C885 ;
    height: 72%;
    width: 60%;
    margin-left: 3rem;
    padding: 1rem;
    padding-top: 0;

    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 8rem;
}
.contact-info-trans-item{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 0.2rem solid #34C885;
    align-items: center;
}
.contact-trans-item-amount{
    font-size: 2.5rem;
    color: #34C885;
}
.contact-trans-item-name{
    font-size: 2.5rem;
    color: #34C885;
    justify-self: end;
}