.contacts-info-body{
    width: 92%;

    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    
}

.contacts-info-trans-title{
    width: 75%;
    height: fit-content;
    margin-top: 2rem;
    margin-bottom: 1rem;
    margin-left: 3rem;
    font-size: 3rem;
    color: #34C885;
    order: 2;
}
.contacts-info-trans-div{
    border: 0.4rem solid #34C885 ;
    height: 70%;
    width: 75%;
    margin-left: 3rem;
    padding: 1rem;
    padding-top: 0;

    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 8rem;
    order: 3;
}
.contact-info-trans-item{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 8rem;
    border-bottom: 0.2rem solid #34C885;
    align-items: center;
}
.contact-trans-item-amount{
    font-size: 2.5rem;
    color: #34C885;
}
.contact-trans-item-date{
    font-size: 2.5rem;
    color: #34C885;
    justify-self: end;
}

@media screen and (max-width: 1400px) {
    .contacts-info-trans-title{
        font-size: 2rem;
    }
    .contacts-info-trans-div{
        grid-template-rows: 6.5rem;
    }
    .contact-info-trans-item{
        grid-auto-rows: 6.5rem;
        height: 6.5rem;
    }
    .contact-trans-item-date,
    .contact-trans-item-amount{
        font-size: 2rem;
    }
}
@media screen and (max-width: 1100px) {
    .contacts-info-trans-title{
        order: 3;
    }
    .contacts-info-trans-div{
        order: 4;
    }
    .contacts-info-trans-title{
        width: 100%;
        margin: 0;
        margin-left: 0.3rem;
    }
    .contacts-info-trans-div{
        width: 90%;
        height: 68%;
    }
}
@media screen and (max-width: 1000px) {
    .contacts-info-trans-title{
        font-size: 1.8rem;
    }
    .contacts-info-trans-div{
        grid-template-rows: 5.5rem;
    }
    .contact-info-trans-item{
        grid-auto-rows: 5.5rem;
        height: 5.5rem;
    }
    .contact-trans-item-date,
    .contact-trans-item-amount{
        font-size: 1.7rem;
    }
}
@media screen and (max-width: 750px) {
    .contacts-info-body{
        width: 100%;
        height: 75%;
    }
    .contacts-info-trans-div{
        grid-template-rows: 4rem;
        margin-left: 1rem;
        width: 95%;
        height: 85%;
    }
    .contact-info-trans-item{
        grid-auto-rows: 4rem;
        height: 4rem;
    }
    .contact-trans-item-date,
    .contact-trans-item-amount{
        font-size: 1.4rem;
    }
}
@media screen and (max-width: 500px) {
    .contacts-info-trans-div{
        grid-template-rows: 3.5rem;
        margin-left: 0.5rem;
        padding: 0.3rem;
    }
    .contact-info-trans-item{
        grid-auto-rows: 3.5rem;
        height: 3.5rem;
    }
    .contact-trans-item-date,
    .contact-trans-item-amount{
        font-size: 1.2rem;
    }
}