.all-trans-body{
    width: 92%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}
.all-trans-title{
    width: 100%;
    font-size: 4rem;
    color: #34C885;
    text-align: center;
    margin: 1rem;
}
.all-trans-div{
    width: 90%;
    height: 88%;
    border: 0.2rem solid #34C885;
    padding: 1rem;
    overflow-y: scroll;
    scrollbar-width: 1rem;
    scrollbar-color: #34C885 #fff;
}
.all-trans-div::-webkit-scrollbar{
    width: 1rem;
}
.all-trans-div::-webkit-scrollbar-track{
    background: #fff;
}
.all-trans-div::-webkit-scrollbar-thumb{
    background: #34C885;
    border-radius: 1rem;
}

@media screen and (max-width: 1000px) {
    .all-trans-title{
        font-size: 3rem;
    }
}
@media screen and (max-width: 750px) {
    .all-trans-body{
        width: 100%;
    }
    .all-trans-title{
        font-size: 2.6rem;
    }
}
@media screen and (max-width: 500px) {
    .all-trans-title{
        font-size: 2.2rem;
    }
    .all-trans-div{
        padding: 0.3rem;
    }
}
@media screen and (max-width: 400px) {
    .all-trans-title{
        font-size: 2rem;
    }
}