.add-contact-title{
    grid-column: 1/9;
    text-align: center;
    font-size: 3rem;
    color: #34C885;
}
.contact-name-text{
    grid-column: 1/2;
    margin-right: 1rem;
    font-size: 2rem;
    color: #34C885;
    margin-left: 1rem;
}
.contact-name-input{
    grid-column: 2/5;
    height: 40%;
    border: 0.2rem solid #34C885;
    border-radius: 1rem;
    padding: 0.5rem;
    font-size: 1.3rem;
}

.contact-type-text{
    grid-column: 1/2;
    margin-right: 1rem;
    font-size: 2rem;
    color: #34C885;
    margin-left: 1rem;
}
.contact-type-input{
    grid-column: 2/5;
    width: 100%;
    height: 40%;
    border: 0.2rem solid #34C885;
    border-radius: 1rem;
    padding: 0.5rem;
    font-size: 1.3rem;
}
.contact-pic-text{
    grid-column: 1/2;
    margin-right: 1rem;
    font-size: 2rem;
    color: #34C885;
    margin-left: 1rem;
}
.contact-pic-input{
    grid-column: 2/5;
    height: 40%;
    border: 0.2rem solid #34C885;
    border-radius: 1rem;
    padding: 0.5rem;
    font-size: 1.3rem;
}

.add-contact-pic-display{
    grid-column: 7/9;
    grid-row: 2/4;
    height: 100%;
    border-radius: 50%;
    border: 0.2rem solid #1d8657;
    padding: 0.3rem;
}
.add-contact-name-display{
    grid-column: 5/9;
    grid-row: 4/5;
    font-size: 2rem;
    color: #34C885;
    margin-left: 1rem;
}
.add-contact-type-display{
    grid-column: 5/9;
    grid-row: 5/6;
    font-size: 2rem;
    color: #34C885;
    margin-left: 1rem;
}
.add-contact-cancel{
    grid-row: 6/7;
    grid-column: 2/4;
    width: 80%;
    height: 80%;
    border-radius: 1rem;
    justify-self: center;
    background-color: #db3b3b;
    border: 0.2rem solid #d12929;
    color: #fff;
    font-size: 1.9rem;
}
.add-contact-confirm{
    grid-row: 6/7;
    grid-column: 6/8;
    width: 80%;
    height: 80%;
    border-radius: 1rem;
    justify-self: center;
    background-color: #34C885;
    border: 0.2rem solid #1d8657;
    color: #fff;
    font-size: 1.9rem;
}
.add-contact-cancel:hover,
.add-contact-confirm:hover{
    font-weight: 600;
}
.add-contact-cancel:active,
.add-contact-confirm:active{
    font-weight: 400;
}

@media screen and (max-width: 1400px) {
    .add-contact-title{
        font-size: 2rem;
    }
    .contact-name-input,
    .contact-pic-input,
    .contact-type-input{
        height: 60%;
        font-size: 1.1rem;
    }
}
@media screen and (max-width: 1000px) {
    .contact-name-text,
    .contact-pic-text,
    .contact-type-text{
        font-size: 1.5rem;
    }
    .add-contact-type-display,
    .add-contact-name-display{
        font-size: 1.5rem;
    }
    .add-contact-cancel,
    .add-contact-confirm{
        width: 100%;
    }
}
@media screen and (max-width: 750px) {
    .contact-add-body{
        height: 95%;
    }
    .add-contact-pic-display{
        height: 70%;
    }
}
@media screen and (max-width: 500px) {
    .add-contact-cancel,
    .add-contact-confirm{
        grid-row: 8/9;
        grid-column: 6/9;
        font-size: 1rem;
    }
    .add-contact-pic-display{
        
        grid-column: 5/7;
    }
    .add-contact-cancel{
        grid-column: 2/5;
    }
    .contact-name-text{
        grid-row: 4/5;
        font-size: 1.1rem;
    }
    .contact-name-input{
        grid-row: 4/5;
        grid-column: 2/7;
        height: 30%;
    }
    .contact-type-text{
        grid-row: 5/6;
        font-size: 1.1rem;
    }
    .contact-type-input{
        grid-row: 5/6;
        grid-column: 2/6;
        font-size: 1rem;
        padding: 0;
    }
    .contact-pic-text{
        grid-row: 6/7;
        font-size: 1.1rem;
    }
    .contact-pic-input{
        grid-row: 6/7;
        grid-column: 2/6;
        font-size: 1rem;
        padding: 0;
    }
    .add-contact-name-display{
        display: none;
    }
    .add-contact-type-display{
        display: none;
    }
}