html{
  font-size: 16px;
  font-family: 'Kanit', sans-serif;
  height: 100%;
}
body{
  height: 100%;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#root{
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}
input:focus{
  outline: none;
}
input{
  font-family: 'Kanit';
}
